@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

* {
    font-family: "Montserrat", sans-serif; /* Ajouter un fallback */
}
.best-items {
    margin: 50px;
}
body {
    background: url("../images/backGFfond.jpeg") no-repeat center center fixed;
    background-size: cover; /* Assure que l'image couvre toute la page */
    margin: 0;
    padding: 0;
    height: 100vh; /* Hauteur de la page */
    font-family: 'Poppins', sans-serif; /* Appliquer la police 'Poppins' */
}

/* Applique un fond d'écran avec une légère ombre sur la section top-page */
section.top-page {
    position: relative;
}

section.top-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ombre semi-transparente pour améliorer la lisibilité */
    z-index: -1; /* Placer l'ombre derrière le contenu */
}
body {
    margin: 0 auto;
}

/* tête de page */

header.header {
    display: flex;
    align-items: center;
}

header.header img {
    width: 150px;
    transition: all 0.3s ease; /* Transition fluide pour l'effet au survol */
}

header.header img:hover {
    filter: brightness(1.2);  /* Augmentation de la luminosité au survol */
    border-radius: 5px; /* Arrondi des coins */
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.5); /* Ombre autour de l'image au survol */
}


section.top-page {
    height: 80vh;
    padding: 25px;
    transition: all 0.3s ease;
}

/* Effet mat au survol de section.top-page */
section.top-page:hover {
    opacity: 0.7; /* Réduit l'opacité pour rendre le GIF plus mat */
    filter: brightness(0.7); /* Ajuste la luminosité pour renforcer l'effet */
}


.landing-page {
    position: relative;
    display: flex; /* Active flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Assure que la landing page occupe tout l'écran */
    box-sizing: border-box; /* Inclut les paddings dans la hauteur totale */
}

.big-title {
    font-size: 150px;
    font-family: "Jazz LET", fantasy;
    color: white;
    text-align: center; /* Optionnel pour centrer le texte à l'intérieur */
    position: relative; /* Nécessaire pour le positionnement du pseudo-élément *//*text-align: center; /* Centre le texte horizontalement */
}

.scroll-down {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 0;
}

/* navigation */
.nav a {
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Enlever la soulignure */
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Animation pour effet hover */
    border-radius: 5px;
}

.nav a:hover,
.nav a.active {
    background-color: #555; /* Couleur de fond au survol ou actif */
    color: #ffcc00; /* Couleur du texte au survol ou actif */
}

.Dnav {
    display: flex; /* Assure que .Dnav est un conteneur flex */
    justify-content: flex-end; /* Aligne le contenu à droite */
    width: 100%; /* Assure que .Dnav prend toute la largeur disponible */
}

nav.nav {
    display: flex; /* Active le mode flexbox */
    flex-direction: row;
    list-style: none; /* Supprime les puces des listes */
    margin-left: auto; /* Pousse le conteneur nav à droite */
    margin: 20px 0px 20px 20px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
    color: white;
}

footer a.cgv{
    text-decoration: none;
    color: white;
}